* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(#fff);
}

.Category_Menu{
    position: relative;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: #fff;
    /* border-radius: 60px; */
    transition: 0.5s;
    box-shadow: 0 0 0 5px #611b1b;
    z-index: 999;
}

.Category_Menu .category_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #fff;
    /* border-radius: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
}

.Category_Menu .category_icon::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 5px;
    background-color: #611b1b;
    transform: translate(0px, -10px);
}

.Category_Menu .category_icon::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 5px;
    background-color: #611b1b;
    transform: translate(0px, 10px);
}

.Category_Menu.active {
    width: 100vh;
    height: 100vh;
}

.Category_Menu .Category_Name {
    position: relative;
    width: 300px;  
    height: 60px;
    left: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}

.Category_Menu .Hookah {
    position: absolute;
    width: 340px;  
    height: 60px;
    top: 65px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    /*border-radius: 30px;
    box-shadow: 0 0 0 5px #611b1b;*/
}

.Category_Menu .Hookah .Hookah_label {
    position: relative;
    left: 50px;
    font-size: 30px;
}

.Category_Menu .Hookah .Hookah_icon {
    position: absolute;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    /*background-color: #a51616;*/
    box-shadow: 0 0 0 5px #611b1b;
}

.Category_Menu .Tobacco {
    position: absolute;
    width: 340px;  
    height: 60px;
    top: 130px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    /*border-radius: 30px;
    box-shadow: 0 0 0 5px #611b1b;*/
}

.Category_Menu .Tobacco .Tobacco_label {
    position: relative;
    left: 50px;
    font-size: 30px;
}

.Category_Menu .Tobacco .Tobacco_icon {
    position: absolute;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #a51616;
    box-shadow: 0 0 0 5px #611b1b;
}

.Tobacco_content {
    position: absolute;
    top: 65px;
}

