* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(#fff);
}

.tobacco_list {
    position: relative;
    width: 220px;
    height: 85px;
}

.tobacco_list .link {
    text-decoration: none;
}

.tobacco_list .link .darkside {
    position: relative;
    left: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    border-bottom: 1px solid red;
    background-color: #fff;
    align-items: center;
    justify-content: left;
    /*font-size: 20px;*/
    cursor: pointer;
}
.tobacco_list .link .darkside .label {
    position: relative;
    text-decoration: none;
    left: 10px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    color: rgba(0, 0, 255, 0.465);
    cursor: pointer;
}

.tobacco_list .link .blackburn {
    position: relative;
    left: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    border-bottom: 1px solid red;
    background-color: #fff;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}
.tobacco_list .link .blackburn .label {
    position: relative;
    text-decoration: none;
    left: 10px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    color: rgba(0, 0, 255, 0.465);
    cursor: pointer;
}