.catalog_btn {
    display: flex;
    font-size: 20px;
    justify-content: center;
    border-radius: 100%;
    border-color: rgb(4, 80, 4);
    background-color: rgb(16, 202, 16);
    width: 150px;
    margin-bottom: 10px;
}

.catalog_btn:hover {
    border-color: rgb(69, 7, 7);
    background-color: rgb(213, 76, 17);
}